@import url('https://fonts.googleapis.com/css?family=Montserrat');

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    min-height: 100px;
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f0f1f5;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;

    &:hover {
        box-shadow: 0 1px 5px 0 #828282;

        .albumArrow {
            color: #1E90FF;
        }
    }

    &.is-expanded {
        .albumArrow {
            transform: rotate(180deg);
        }
    }

    .panel-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        .albumPosition {
            text-align: center;
            min-width: 100px;
            font-size: 28px;
            font-weight: bold;
        }

        .albumImg {
            padding: 10px 20px 10px 0;
            max-height: 80px;
        }

        .albumData {

            .albumName {
                margin: 0;
                font-size: 18px;
                font-weight: bold;
            }

            .albumArtist {
                margin: 0;
                font-size: 16px;
                font-weight: normal;
            }
        }

        .albumArrow {
            margin-left: auto;
            padding: 40px;
            font-size: 20px;
            transition: all 0.3s ease-out;
        }

        .albumArtist {
            color: #1E90FF;
        }
    }

    .panel-collapse {
        overflow: hidden;
        transition: height 0.3s ease-out;

        .panel-mainInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 80px;
            border-top: #f0f1f5 solid 1px;
            background-image: linear-gradient(to bottom, #e4e5e9, #ebebee, #f2f2f4, #f8f8f9, #ffffff, #ffffff, #ffffff, #ffffff);

            .panel-mainInfo-element {
                display: flex;
                flex-direction: column;
                align-items: center;

                &:last-child {
                    padding: 0;
                    border-right: none;
                }

                & span:first-child {
                    font-weight: bold;
                    font-size: 18px;
                }

                & span:last-child {
                    font-size: 14px;
                    color: #1E90FF;
                }
            }
        }

        .panel-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 80px;
            border-top: #f0f1f5 solid 1px;

            .panel-link {

                a {
                    text-decoration: none;
                    color: #000000;
                    padding: 20px;

                    &:hover {
                        color: #1E90FF;
                    }
                }

            }
        }
    }
}