.sideDrawer {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;

    &.open {
        transform: translateX(0);
    }

    .sideDrawer__items {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .sideDrawer__items-btn {
            padding: 20px;
            font-size: 22px;
            text-decoration: none;
            color: black;

            &:hover {
                background: rgba(130, 130, 130, 0.22);
            }
        }
    }
}