@import "../App/App";

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: $navBgColor;
    position: fixed;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);

    .navBar__logo {
        margin-left: 50px;
        min-width: 120px;
        display: flex;
        align-items: center;
        color: $navFontColor;
        padding: 20px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 700;
        line-height: 0.8;

        .logo__top100 {
            font-size: 18px;
            letter-spacing: 5px;

            img {
                width: 40px;
                margin-right: 5px;
            }
        }
    }

    .navBar__items {
        .items__btn {
            padding: 30px;
            text-decoration: none;
            text-transform: uppercase;
            color: $navFontColor;

            &:hover {
                cursor: pointer;
                color: $secondaryColor;
            }
        }
    }

    .navBar__hamburger {
        padding: 20px;
        font-size: 28px;
        color: #FFFFFF;
        background: transparent;
        border: none;
        display: none;
        cursor: pointer;
    }

    @media (max-width: 690px) {
        .navBar__hamburger {
            display: block;
        }

        .navBar__logo {
            margin-left: auto;
        }

        .items__btn {
            display: none;
        }
    }
}

@media (max-width: 690px) {
    .navBar {
        justify-content: space-between;
    }
}