@import "../App/App";

.comingSoon {
    @include bgGradient;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .comingSoon__text {
        width: 300px;

        .text__main {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 34px;
        }
    }
}